.main-section {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

@media screen and (max-width: 1000px) {
  .main-section {
    padding: 1rem;
  }

  .btn-container {
    width: 45%;
    align-self: center;
  }
}
